@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#link_box {
    display: inline-block;
    vertical-align: middle;
    margin-right: 179.17px;
}


#link_box a {
    margin-left: 20px;
    color: rgba(50, 50, 50, 1);
    font-family: Inter;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

#nextmove_logo {
    display: inline-block;
    vertical-align: middle;
    padding-left: 80px;
    margin-right: 179.17px;
}

#header_container {
    max-width: 1140px;
    width: 100%;
}

#contact_button {
    padding: 8px 16px;
    border-radius: 8px;
    background: rgba(233, 215, 254, 1);
    color: rgba(172, 0, 255, 1);
    border: 1px solid rgba(172, 0, 255, 1);
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    text-decoration-skip-ink: none;
}

#text {
    max-width: 841px;
    width: 100%;
    margin-top: 64px;
    margin-left: 214px;
}

#simple {
    max-width: 720px;
    width: 100%;
    font-family: Impact;
    font-size: 64px;
    font-weight: 400;
    line-height: 74px;
    text-align: left;
    color: rgba(50, 50, 50, 1);
}

#no_money {
    max-width: 841px;
    width: 100%;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    margin-top: 24px;
}

#join_Full_Container {
    max-width: 430px;
    width: 100%;
    margin-top: 24px;
}

#join_Button {
    display: inline-block;
    vertical-align: middle;
    padding: 16px 63.5px;
    background-color: rgba(92, 59, 174, 1);
    color: white;
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
    border-radius: 8px;
}


#play_Loading {
    display: inline-block;
    vertical-align: middle;
    margin-left: 24px;
}

#watch {
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
    color: rgba(77, 52, 145, 1);
}

#cards_container {
    max-width: 1311px;
    display: inline-block;
    padding-bottom: 40px;
    margin-left: 619px;
    margin-top: -128px;
}

#cards_Logo {
    display: inline-block;
}

